<div id="<%= dom_id personal_record %>">
  <p>
    <strong>Last name:</strong>
    <%= personal_record.last_name %>
  </p>

  <p>
    <strong>Middle name:</strong>
    <%= personal_record.middle_name %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= personal_record.first_name %>
  </p>

  <p>
    <strong>Education:</strong>
    <%= personal_record.education %>
  </p>

  <p>
    <strong>Contacts:</strong>
    <%= personal_record.contacts %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= personal_record.description %>
  </p>

</div>
