<div id="<%= dom_id user_subject_teacher %>">
  <p>
    <strong>User:</strong>
    <%= user_subject_teacher.user_id %>
  </p>

  <p>
    <strong>Subject teacher:</strong>
    <%= user_subject_teacher.subject_teacher_id %>
  </p>

  <p>
    <strong>Score:</strong>
    <%= user_subject_teacher.score %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= user_subject_teacher.year %>
  </p>

</div>
