<%= form_with(model: graduate) do |form| %>
  <% if graduate.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(graduate.errors.count, "error") %> prohibited this graduate from being saved:</h2>

      <ul>
        <% graduate.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :last_name, style: "display: block" %>
    <%= form.text_field :last_name %>
  </div>

  <div>
    <%= form.label :first_name, style: "display: block" %>
    <%= form.text_field :first_name %>
  </div>

  <div>
    <%= form.label :graduation_year, style: "display: block" %>
    <%= form.number_field :graduation_year %>
  </div>

  <div>
    <%= form.label :zno_scores, style: "display: block" %>
    <%= form.text_area :zno_scores %>
  </div>

  <div>
    <%= form.label :university, style: "display: block" %>
    <%= form.text_field :university %>
  </div>

  <div>
    <%= form.label :feedback, style: "display: block" %>
    <%= form.text_area :feedback %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
