<div id="<%= dom_id graduate %>">
  <p>
    <strong>Last name:</strong>
    <%= graduate.last_name %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= graduate.first_name %>
  </p>

  <p>
    <strong>Graduation year:</strong>
    <%= graduate.graduation_year %>
  </p>

  <p>
    <strong>Zno scores:</strong>
    <%= graduate.zno_scores %>
  </p>

  <p>
    <strong>University:</strong>
    <%= graduate.university %>
  </p>

  <p>
    <strong>Feedback:</strong>
    <%= graduate.feedback %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= image_tag(graduate.image) %>
  </p>

</div>
