<div id="<%= dom_id price_list %>">
  <p>
    <strong>Payment type:</strong>
    <%= price_list.payment_type %>
  </p>

  <p>
    <strong>Tuition cost:</strong>
    <%= price_list.tuition_cost %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= price_list.year %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= price_list.description %>
  </p>

</div>
