<%= form_with(model: subject_teacher) do |form| %>
  <% if subject_teacher.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(subject_teacher.errors.count, "error") %> prohibited this subject_teacher from being saved:</h2>

      <ul>
        <% subject_teacher.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :personal_record_id, style: "display: block" %>
    <%= form.text_field :personal_record_id %>
  </div>

  <div>
    <%= form.label :subject_id, style: "display: block" %>
    <%= form.text_field :subject_id %>
  </div>

  <div>
    <%= form.label :academic_year, style: "display: block" %>
    <%= form.text_field :academic_year %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
