<%= form_with(model: user_subject_teacher) do |form| %>
  <% if user_subject_teacher.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user_subject_teacher.errors.count, "error") %> prohibited this user_subject_teacher from being saved:</h2>

      <ul>
        <% user_subject_teacher.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :score, style: "display: block" %>
    <%= form.number_field :score %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
